@model IEnumerable<Russian.Web.Models.Dtos.ProductDto>

<br /> 
<br /> 
<br />
<div class="container border">
	<div class="row">
		<div class="col">
			<h1 class="text-info">Список Продуктов</h1>
		</div>
		<div class="col text-right">
			<a asp-action="ProductCreate" class="btn btn-outline-info">Создание нового продукта</a>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					Продукт
				</th>
				<th>
					Категория
				</th>
				<th>
					Цена
				</th>
				<th>
					Описание
				</th>
				<th>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var mod in Model)
			{
			<tr>
				<td>
					@mod.ProductName
				</td>
				<td>
					@mod.CategoryName
				</td>
				<td>
					@((mod.Price).ToString("c"))
				</td>
				<td>
					@mod.Description
				</td>
				<td>
					<a asp-action="ProductEdit" class="btn btn-success" asp-route-productId="@mod.ProductId">Редактировать товар</a>
					<a asp-action="ProductDelete" class="btn btn-danger" asp-route-productId="@mod.ProductId">Удалить товар</a>
				</td>
			</tr>
			}
		</tbody>
	</table>
</div> 
